In [3]:
import yfinance as yf
import pandas as pd

# import ccxt
# import ffn
import os
import sys

module_path = os.path.abspath('../') # root directory
if module_path not in sys.path:
    sys.path.append(module_path)

# from portfolio_tracker.metrics import Stocks, PortfolioManager
from portfolio_tracker.loader import DataLoader
from portfolio_tracker.data_fetching import fetch_stock_prices, fetch_crypto_price, fetch_exchange_rate

# Manually set paths to data files
data_path = module_path + '\\data\\'

type1_PATH = data_path + 'type1.csv'
type2_PATH =  data_path + 'type2.csv'
type3_PATH =  data_path + 'type3.csv'

In [26]:
# Load sample data
type1_df = pd.read_csv(type1_PATH)
type2_df = pd.read_csv(type2_PATH)
type3_df = pd.read_csv(type3_PATH)

### Add data

In [27]:
type1_df

,date,security,type_of_asset,action,quantity,total_transaction_price_usd
0,01/01/2023,TSLA,stock,buy,10.0,650
1,01/02/2023,AAPL,stock,buy,5.0,50
2,01/03/2023,BTC,crypto,buy,0.2,3000
3,01/04/2023,VOO,index fund,buy,15.0,4500
4,01/05/2023,ETH,crypto,sell,0.1,2500
5,01/06/2023,TSLA,stock,sell,5.0,325
6,01/08/2023,TSLA,stock,buy,3.0,310
7,01/20/2023,TSLA,stock,sell,4.0,810

In [25]:
from csv import DictWriter

field_names = list(type1_df.columns)
# Dictionary that we want to add as a new row
dict = {'date': '01/20/2023', 'security': 'TSLA', 'type_of_asset': 'stock', 'action': 'sell', 'quantity': 4, 'total_transaction_price_usd': 810}
 
# Open CSV file in append mode
# Create a file object for this file
with open(type1_PATH, 'a') as f_object:
 
    # Pass the file object and a list
    # of column names to DictWriter()
    # You will get a object of DictWriter
    dictwriter_object = DictWriter(f_object, fieldnames=field_names)
 
    # Pass the dictionary as an argument to the Writerow()
    dictwriter_object.writerow(dict)
 
    # Close the file object
    f_object.close()

# Instructions

In [15]:
1. DataLoader class from portfolio_tracker.loader -- a class for loading the three types of data
2.

{}

In [34]:
type1_df[type1_df['type_of_asset'] == 'stock']

,date,security,type_of_asset,action,quantity,total_transaction_price_usd
0,01/01/2023,TSLA,stock,buy,10.0,650
1,01/02/2023,AAPL,stock,buy,5.0,50
5,01/06/2023,TSLA,stock,sell,5.0,325
6,01/08/2023,TSLA,stock,buy,3.0,310
7,01/20/2023,TSLA,stock,sell,4.0,810

In [35]:
fetch_stock_prices(['TSLA', 'AAPL'])

{'TSLA': np.float64(209.2100067138672), 'AAPL': np.float64(228.02999877929688)}

In [ ]:
AAPL: 228*5 - 50 = 1090 UNREALIZED
TSLA: (325 - (650/10)*5) + (810 - 650/10*4) = 550 REALIZED
TSLA: 209*4 - (65 + 310) = 461 UNREALIZED

In [30]:
# Load data
data_loader = DataLoader(type1_PATH, type2_PATH, type3_PATH)
type1_data = data_loader.get_type1_data()

# Filter only stock transactions
stock_transactions = type1_data[type1_data['type_of_asset'] == 'stock']

# Process stock transactions and fetch current values
stocks = Stocks()
stocks.process_transactions(stock_transactions)
# stocks.get_owned_assets()
stocks.get_realized_gains()

(550.0, {'TSLA': 550.0})

In [43]:
stocks.fetch_current_values()

({'TSLA': np.float64(836.8400268554688),
  'AAPL': np.float64(1140.1499938964844)},
 {'TSLA': np.float64(461.84002685546875),
  'AAPL': np.float64(1090.1499938964844)})

In [5]:
current_stock_values = stocks.fetch_current_values()
current_stock_values

{'TSLA': 1038.3499908447266, 'AAPL': 1099.3000030517578}

In [6]:
portfolio_manager = PortfolioManager(stock_transactions)
print("Current Portfolio Value: ", portfolio_manager.current_portfolio_value())
print("Stock Percentages of Portfolio: ", portfolio_manager.stock_percentage_of_portfolio())

Current Portfolio Value:  2137.6499938964844
Stock Percentages of Portfolio:  {'TSLA': 48.57436876053006, 'AAPL': 51.42563123946995}